extends ../layouts/default

	
	
block content
	#container.newline.grid.about-wrapper
		section#about.grid-item
			h2.text-center.about-content(style='color:white')
				| We are a 
				strong product development
				|  and 
				strong industrial design
				|  consulting firm. We are a testing ground for new and exciting ideas, technologies, and materials. We provide a full range of product development services. We are dedicated to designing breakthrough products, that drive 
				strong sales and business growth
				| . Our designs provide identity, awareness, excitement, and experiences that 
				strong differentiate
				|  our clients from their competition. Through designing products we create new and exciting market opportunities that provide 
				strong leadership, brand loyalty, and positioning
				| .
				
		section#mission.grid-item
			h2.title mission
			p
				| Our mission is to offer all of clients a solid partnership based on integrity, creativity, commitment, trust. We cannot predict the future, but it is our mission to design for the future, and encourage a culture in-which design and breakthrough thinking brings success by which Twin Image is measured.
			p
				| Twin Image Inc. does not collect any personal data on persons visiting this website. If you choose to contact us through e-mail or by submitting forms through US Mail, the information you provide will only be used by Twin Image Inc. for the sole purpose you request. Your information will then be destroyed unless future partnerships are pursued and will not be given or sold to any other companies or individuals.
			h2#experience.title experience
			p
				| We have some of the most talented people in their fields on our team. We have over 14 years of experience in the Product Development Field.
		section#team.grid-item
			h2.title our team
			p
				| Twin Image draws on a staff of highly qualified and experienced professionals from multiple industries and disciplines. They have backgrounds in the corporate world, small business and consulting agencies and are skilled industrial designers, mechanical engineers, graphic designers, and marketing and sales specialists, many of whom are recognized as the leaders in their fields.
			p
				| The Twin Image team can deliver a whole package, a custom plan for product implementation, as well as ongoing technical support – and always attentive service.
			p
				| Whether developing a new product or a competitive alternative to an existing design, the professionals at Twin Image are poised to take your company through all stages of product development.
			ul
				li Investigation / Exploration of Ideas
				li Research
				li Conceptual Ideation
				li Ergonomic Considerations / Human Factors
				li 3D Computer Generated Modeling / Physical Mock-ups
				li Mechanical Engineering
				li Prototyping / Functional Appearance Models
				li Part Drawings
				li Graphic Design
				li Packaging Design
				li Vendor Coordination
				li Start Up Production Coordination
			p
				| Twin Image holds the core values, integrity and honesty as a fundamental principle of doing business. Each member of our team subscribes to this and holds client secrets in confidence.
			p
				| Committed first to our clients and their customers, we are proud of our innovations and the environments and products we create. We develop products as well as relationships by taking the time to listen to your needs, learn your process and understand your goals. Only then, we work with you to generate the ideal solutions for your company’s long-term success.
